@font-face {
    font-family: 'MuseoSlab500Regular';
    src: url('Font/Museo_Slab_500-webfont.eot');
    src: url('Font/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Museo_Slab_500-webfont.woff') format('woff'),
         url('Font/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('Font/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

  
  a { color: indigo; background: darkturquoise; text-decoration: none; }


  
  h1{ color: indigo; background: silver; }



  body { color: #444; background: silver; width:700px; margin: 20px auto; font-family: 
    'MuseoSlab500Regular', serif;}
    .contact {text-align: center;}

h5 {font-family: 'MuseoSLAB500Regular,' serif;}

header img{display:block; float:right; margin-bottom: 20px;}
header h1{float:left;}
header nav{display:block; clear:both; border-top:1px solid black;}

nav ul {list-style: none; margin-left: 0; padding-left: 0}

nav li {display:inline;}

nav li+li:before {
  content: "◎";
  color: black;
  padding: 0 4px;
}





  h2{ color: red; background: gray; }



  h3{ color: teal; background: silver; text-align: center; text-transform: uppercase;}



  h4{ color: navy; background: silver; }
